{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-8">
        <h1> Pedro Picapiedra </h1>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. A, nulla rerum! Necessitatibus eius impedit quia distinctio cum dolorem, quas assumenda eveniet similique sint quisquam reiciendis, cumque ab quam repudiandae accusantium.
    </div>
    <div class="col-4" class="img-thumbnail">
        <img src="assets//img/pedro-picapiedda.png" >
    </div>
</div>

 {{> footer }}